{:components
 {:app  #var duct.component.handler/handler-component
  :http #var ring.component.jetty/jetty-server
  :google-api #var imstransport-web-site.component.google-road-api-proxy/google-road-api-proxy
  :logger #var imstransport-web-site.component.logger-component/logger-component
  :messages #var imstransport-web-site.component.message-repository/message-repository}
 :endpoints
 {:transport-price #var imstransport-web-site.endpoint.transport-price/transport-price-endpoint}
 :dependencies
 {:http [:app]
  :app  [:transport-price]
  :transport-price [:google-api :transport-config :messages]}
 :config
 {:app
  {:middleware
   {:functions
    {:hide-errors   #var duct.middleware.errors/wrap-hide-errors
     :not-found     #var duct.middleware.not-found/wrap-not-found
     :ring-defaults #var ring.middleware.defaults/wrap-defaults
     :route-aliases #var duct.middleware.route-aliases/wrap-route-aliases
     :webjars       #var ring.middleware.webjars/wrap-webjars
     :json-params   #var ring.middleware.json/wrap-json-params
     :json-response #var ring.middleware.json/wrap-json-response}
    :applied
    [:not-found :webjars :ring-defaults :route-aliases :hide-errors
     :json-params :json-response]
    :arguments
    {:not-found     #resource "imstransport_web_site/errors/404.html"
     :hide-errors   #resource "imstransport_web_site/errors/500.html"
     :route-aliases {"/" "/index.html"}
     :ring-defaults
     {:params    {:urlencoded true
                  :keywordize true
                  :multipart  true
                  :nested     true}
      :cookies   true
      :session   {:flash true
                  :cookie-attrs {:http-only true}}
      :security  {:anti-forgery   false
                  :xss-protection {:enable? true, :mode :block}
                  :frame-options  :sameorigin
                  :content-type-options :nosniff}
      :static    {:resources "imstransport_web_site/public"}
      :responses {:not-modified-responses true
                  :absolute-redirects     true
                  :content-types          true
                  :default-charset        "utf-8"}}}}}
  :http
  {:port http-port}
  :google-api
  {:dm-api-key dm-api-key
   :dm-base-url dm-base-url}
  :transport-config
  {:km-factor 24
   :fixed-price-part 1000
   :bg-fixed-price 2500
   :bg-poly bg-poly
   :serbia-poly serbia-poly}
  :logger
  {:global-level :info
   :filename "logs/ims.log"}
  :messages {:filename "imstransport_web_site/messages.properties"}}}
